<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/wsign-admin-member.html" data-title="微博账号" href="javascript:;">微博账号</a></li>
					<li><a data-href="/wsign-admin-mlist.html" data-title="会员列表" href="javascript:;">会员列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i>日志管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/wsign-info-info.html" data-title="签到日志" href="javascript:;">签到日志</a></li>
					<li><a data-href="/wsign-info-einfo.html" data-title="错误日志" href="javascript:;">错误日志</a></li>
				</ul>
			</dd>
		</dl>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>