<?php require WSIGN_VIEW_PATH . '/_meta.html';?>
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>add or update</title>
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-member-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">Cookie：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="cookie" cols="" rows="" class="textarea"></textarea>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input id="btnc" class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<?php require WSIGN_VIEW_PATH . '/_footer.html';?><!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
	$(function(){
		$('#btnc').click(function(){
			var cookie=/BDUSS=([^;]+);/.exec($('.textarea').val());
			//alert(cookie);
			if(!cookie){
				layer.alert('请输入cookie',{icon:2});
				return false;
			}
			//alert(cookie[1]);
			$.post('',{cookie:cookie[1]},function(e){
				if(e.code==1){
					layer.alert('ok',{icon:1});
					$('.textarea').val('');
				}else{
					layer.alert(e.msg,{icon:2});
				}

			},'json');

		});
		
	});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>