<?php require WSIGN_VIEW_PATH . '/_meta.html';?>
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>支付宝网页支付测试项目</title>
</head>
<body>
<article class="page-container">
	<form action="/wsign/test/c" method="post" class="form form-horizontal" id="form-member-add" >
		<input type="hidden" name="id" value="1">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<?php echo $info['name'];?>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">价格：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<?php echo $info['price'];?>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">数量(库存/<?php echo $info['count'];?>)：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="number" class="input-text" value="1" placeholder="" min=1 name="count">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">总价格：</label>
			<div class="formControls col-xs-8 col-sm-9" >
				<input type="number" class="input-text" name="ajiage" id="allcount" readonly="" value="10.11">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input id="btnc" class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">				
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<?php require WSIGN_VIEW_PATH . '/_footer.html';?><!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
	$(function(){
		$('input[type=number]').on('blur',function(){
			$('#allcount').val(10.11*$(this).val());
		});

		/*$('#btnc').click(function(){

			$.post('/wsign/test/c',$('form').serialize(),function(e){

			});
		});*/


		
	});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>